<div class="container">
  <h1 class="col-sm-12">Product Details</h1>
  <div class="col-sm-12">
    <label class="col-sm-3">ID </label> <span>{{product.id}}</span>
  </div>
  <div class="col-sm-12">
    <label class="col-sm-3">Title </label> <span>{{product.title}}</span>
  </div>
  <div class="col-sm-12">
    <label class="col-sm-3">Description </label> <span>{{product.description}}</span>
  </div>
  <div class="col-sm-12">
    <button class="btn btn-primary" (click)="getProduct()" type="submit">Get Product</button>
  </div>
</div>
